<div class="flex flex-wrap gap-2 rounded-2xl border border-slate-700 bg-slate-800 p-2 shadow-lg">

    @for(tab of tabs; track tab.label){

        <button
            (click)="selectTab(tab.label)"
            class="flex items-center gap-2 rounded-xl px-5 py-3 font-medium transition-all duration-200"

            [class.bg-blue-600]="activeTab() === tab.label"
            [class.text-white]="activeTab() === tab.label"
            [class.shadow-lg]="activeTab() === tab.label"

            [class.text-slate-400]="activeTab() !== tab.label"
            [class.hover:bg-slate-700]="activeTab() !== tab.label">

            <lucide-angular
                [img]="tab.icon"
                class="h-4 w-4">
            </lucide-angular>

            {{ tab.label }}

        </button>

    }

</div>