<div class="mb-6 grid gap-4 md:grid-cols-3">

    <div class="rounded-2xl bg-slate-800 p-6">
        <p class="text-sm text-slate-400">Total Spent</p>

        <h2 class="mt-2 text-4xl font-bold text-white">
            €{{ totalSpent() }}
        </h2>
    </div>

    <div class="rounded-2xl bg-slate-800 p-6">
        <p class="text-sm text-slate-400">Total Expenses</p>

        <h2 class="mt-2 text-4xl font-bold text-white">
            {{ totalExpenses() }}
        </h2>
    </div>

    <div class="rounded-2xl bg-slate-800 p-6">
        <p class="text-sm text-slate-400">Last Expense</p>

        <h2 class="mt-2 text-2xl font-bold text-white">
            {{ lastExpense()?.date }}
        </h2>
    </div>

</div>